<%= turbo_frame_tag "cart" do %>
    <h1>Корзина</h1>
    <% if @cart.items.count > 0 %>
        <%= render "cart/items" %>
        <p>Итого: <%= @cart.total%> </p>
        <% else %>
        <p>Корзина пуста</p>
    <% end %>
<% end %>