<h1>Магазин</h1>
<ul>
<li>
<%= link_to('Товары', products_path) %>
</li>
<li>
<%= link_to('Пользователи', users_path) %>
</li>
<li>
<%= link_to('Диалог', {controller: :dialogs, action: :welcome}) %>
</li>
<li>
<%= link_to('Корзина', {controller: :cart, action: :show}) %>
</li>
</ul>
